.text-error {
  font-size: 12px;
  cursor: pointer;
  color: white;
}
.form {
  display: flex;
  flex-direction: column;
  width: 250px;
}

.Input-form {
  border: none;
  height: 25px;
  border-radius: 5px;
}

.hidden {
  opacity: 0;
  height: 0;
  width: 0;
  line-height: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.photo-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
