.items-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 800px;
  grid-area: main;
}

.items-page-active {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  grid-area: main;
}

.Name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25px;
}

.list-items {
  display: flex;
  margin-bottom: 25px;
  border-radius: 9px;
  background-color: #ffffff;
}
.list-items:hover {
  /* outline: 2px solid rgba(0, 0, 0, 0.71); */
	border-radius: 0%;
  cursor: pointer;
	box-shadow: 0 14px 28px rgb(0 0 0 / 81%), 0px 1px 13px 8px rgb(0 0 0 / 45%);
}

.card-product {
  width: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.card-product-active {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.text-left {
  color: red;
  margin-right: 10px;
}

.body-card {
  visibility: hidden;
  position: absolute;
}

.body-card-visable: {
  visibility: visible;
  position: relative;
}
